@charset "UTF-8";
/*Configuraçóes Gerais*/

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html,body{
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
  
}

h1{
    color: white;
    text-shadow: 3px 3px 0px #1526a7;
}
