@charset "UTF-8";

@media screen and (min-width:768px){
    i#burger {
        display: none;
    }

    menu{
        display: block;
        
    }

    menu li{
        display: inline-block;
        padding-right: 5px;
    }

    main{
        width: 768px;
    }
}



